* {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    border: solid;
    margin: 0 auto;
}
.intro-container {
    margin: 20px 10px
}
.intro-container > p {
    border: solid ;
    margin: 10px 20px;
}

.profile-pic {
    height: 10rem;
    width: 10rem;
    margin-left: 10px;
    border-radius: 50%;
    border: solid 3px navy;
    float: left;
}
.thanks {
    text-align: center;
}

.project-card-container {
    border: solid 2px black;
    margin: 0px 10px;
    display: flex;

}
.project-banner {
    margin: 0px 20px 10px;
    padding: 0;
    text-align: center;
    border: solid;
    height: fit-content;
    
}


.project-cards {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 33%;
    border: solid 2px black;
    background-color: blue;
}

#honey-caverns-pic {
    
    
}

/*I was trying to style the project banner to be centered on the screen.*/
