* {
    padding: 0;
    margin: 0;
}
.project-card-container {
    border: solid 2px black;
    padding: 0;
    margin: 0px 10px;
    display: flex;

}
.project-banner {
    
}

.project-cards {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 33%;
    border: solid 2px black;
    background-color: blue;
}

#honey-caverns-pic {
    
    
}

/*I was trying to style the project banner to be centered on the screen.*/
